:root {
  --zrook-transition-duration: 0.3s;
  --zrook-transition-function: ease;
}
.zrook-move-x-enter-active,.zrook-move-x-leave-active {
  transition: transform var(--zrook-transition-duration)
    var(--zrook-transition-function);
}
.zrook-move-x-enter-from {
  transform: translateX(-100%);
}
.zrook-move-x-leave-to {
  transform: translateX(100%);
}
/* reverse */
.zrook-move-x-reverse-enter-active,.zrook-move-x-reverse-leave-active {
  transition: transform var(--zrook-transition-duration)
    var(--zrook-transition-function);
}
.zrook-move-x-reverse-enter-from {
  transform: translateX(100%);
}
.zrook-move-x-reverse-leave-to {
  transform: translateX(-100%);
}
.zrook-move-y-enter-active,.zrook-move-y-leave-active {
  transition: transform var(--zrook-transition-duration) var(--zrook-transition-function);
}
.zrook-move-y-enter-from {
  transform: translateY(-100%);
}
.zrook-move-y-leave-to {
  transform: translateY(100%);
}
/* reverse */
.zrook-move-y-reverse-enter-active,.zrook-move-y-reverse-leave-active {
  transition: transform var(--zrook-transition-duration) var(--zrook-transition-function);
}
.zrook-move-y-reverse-enter-from {
  transform: translateY(100%);
}
.zrook-move-y-reverse-leave-to {
  transform: translateY(-100%);
}
