.move-x-enter-active,
.move-x-leave-active {
  transition: transform var(--zrook-transition-duration)
    var(--zrook-transition-function);
}

.move-x-enter-from {
  transform: translateX(-100%);
}

.move-x-leave-to {
  transform: translateX(100%);
}


/* reverse */
.move-x-reverse-enter-active,
.move-x-reverse-leave-active {
  transition: transform var(--zrook-transition-duration)
    var(--zrook-transition-function);
}

.move-x-reverse-enter-from {
  transform: translateX(100%);
}

.move-x-reverse-leave-to {
  transform: translateX(-100%);
}
